*
!.gitignore
!.gitignore_local
!README.md
!TODO.md

!gitrc
!konsolerc

!/Code/User/settings.json
!/Code/User/keybindings.json

!/konsole/
!/konsole/**

!/mise/
!/mise/**

!/vim/
!/vim/**

!/zsh/
!/zsh/**

