[submodule "zsh/oh-my-zsh"]
    path = zsh/oh-my-zsh
    url = https://github.com/ohmyzsh/ohmyzsh.git
    update = checkout
    branch = master
    ignore = none
    shallow = true
[submodule "zsh/custom/plugins/zsh-autosuggestions"]
    path = zsh/custom/plugins/zsh-autosuggestions
    url = https://github.com/zsh-users/zsh-autosuggestions
    update = checkout
    branch = master
    ignore = none
    shallow = true
[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
    path = zsh/custom/plugins/zsh-syntax-highlighting
    url = https://github.com/zsh-users/zsh-syntax-highlighting
    update = checkout
    branch = master
    ignore = none
    shallow = true
[submodule "lazyvim"]
    path = nvim
    url = https://github.com/LazyVim/starter
    branch = main
    update = checkout
    ignore = all
    shallow = true
