*
!.gitignore
!.gitignore_local
!README.md

!gitrc
!vimrc

!/alacritty/
!/alacritty/**

!/Code/User/settings.json
!/Code/User/keybindings.json

!/helix/
!/helix/**
/helix/runtime

!/tmux/
!/tmux/**

!/wezterm/
!/wezterm/**

!/zsh/
!/zsh/**

