use-grammars = { only = [
  "awk",
  "bash",
  "c",
  "cmake",
  "cpp",
  "css",
  "diff",
  "dockerfile",
  "elixir",
  "go",
  "godot-resource",
  "gomod",
  "gotmpl",
  "gowork",
  "html",
  "ini",
  "java",
  "javascript",
  "json",
  "json5",
  "make",
  "markdown",
  "mermaid",
  "opencl",
  "pascal",
  "php-only",
  "python",
  "r",
  "regex",
  "robot",
  "ruby",
  "rust",
  "slint",
  "sql",
  "sshclientconfig",
  "strace",
  "toml",
  "tsx",
  "typescript",
  "vue",
  "xml",
  "yaml",
  "zig",
] }


# HTML, CSS, MARKDOWN, JSON
[[language]]
name = "html"
formatter = { command = 'prettier', args = ["--parser", "html"] }
[[language]]
name = "css"
formatter = { command = 'prettier', args = ["--parser", "css"] }
[[language]]
name = "markdown"
formatter = { command = 'prettier', args = ["--parser", "markdown"] }
[[language]]
name = "json"
formatter = { command = 'prettier', args = ["--parser", "json"] }


# GO
[[language]]
name = "go"

[language-server.gopls]
command = "gopls"

[language-server.gopls.config.hints]
assignVariableTypes = true
compositeLiteralFields = true
constantValues = true
functionTypeParameters = true
parameterNames = true
rangeVariableTypes = true


# JAVASCRIPT, TYPESCRIPT
[[language]]
name = "javascript"
language-servers = [
  "typescript-language-server",
  "vscode-eslint-language-server",
]
formatter = { command = 'prettier', args = ["--parser", "typescript"] }

[[language]]
name = "typescript"
language-servers = [
  "typescript-language-server",
  "vscode-eslint-language-server",
]
formatter = { command = 'prettier', args = ["--parser", "typescript"] }

[language-server.typescript-language-server]
command = "typescript-language-server"
args = ["--stdio"]
config.hostInfo = "helix"


# SQL
[[language]]
name = "sql"
formatter = { command = "sqlformat", args = ["--reindent", "--indent_width", "4", "--keywords", "upper", "--identifiers", "lower", "-"] }


# VUE
[[language]]
name = "vue"
formatter = { command = "prettier", args = ["--parser", "vue"] }
language-servers = ["typescript-language-server"]
